@model Tuple<List<Banner>>

@{
    Layout = null;
}
@{
    var banner = Model.Item1;
}

<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
      data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin-DashBoard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" src="~/favicon.ico">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />


    <link href="/css/Admin-Css/materialdesignicons.css" rel="stylesheet" />

    <!-- Menu waves for no-customizer fix -->
    <link href="/css/Admin-Css/node-waves.css" rel="stylesheet" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/Admin-Css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/css/Admin-Css/theme-default.css" class="template-customizer-theme-css" />
    <link href="/css/Admin-Css/demo.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link href="/css/Admin-Css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/css/Admin-Css/apex-charts.css" rel="stylesheet" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="/js/Admin-js/helpers.js"></script>
    <script src="/js/Admin-js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!--Side Menu Partial View -->
            <!--Show the partial view of sidemenu-->
            <partial name="_SidePartialView" />


            <!-- / Side Menu Partial View Ends -->
            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar Partial View -->
                <!--Show the partial view of navbar partial view-->
                <partial name="_NavbarPartialView" />

                <!-- / Navbar Partial View -->
                <!--  Main For Enquiry-->
                <!-- Hoverable Table rows -->

                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <hr class ="my-5"   />
                        <div class="card">
                            <h5 class="card-header">Bannners</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Image</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        @foreach (var data in Model.Item1)
                                        {
                                            <tr>
                                                <td>@data.Flavour_title</td>
                                                <td>
                                                    <img src="@data.Banner_Img" style="height:75px; width= 75px" />

                                                </td>
                                                <td>
                                                    <form method="post">
                                                        <button  class="btn btn-danger" type="submit" asp-action="DeleteBanner" asp-controller="Admin" asp-route-id="@data.id">Delete</button>
                                                        </form>
                                                   
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!--/ Hoverable Table rows -->
                <!--  Main For Enquiry-->
                <!-- Core JS -->
                <!-- build:js assets/vendor/js/core.js -->

                <script src="/js/Admin-js/jquery.js"></script>
                <script src="/js/Admin-js/popper.js"></script>
                <script src="/js/Admin-js/bootstrap.js"></script>
                <script src="/js/Admin-js/node-waves.js"></script>
                <script src="/js/Admin-js/perfect-scrollbar.js"></script>
                <script src="/js/Admin-js/menu.js"></script>

                <!-- endbuild -->

                <script src="/js/Admin-js/apexcharts.js"></script>

                <!-- Main JS -->
                <script src="/js/Admin-js/main.js"></script>

                <!-- Page JS -->
                <script src="/js/Admin-js/dashboards-analytics.js"></script>


                <!--Charts js-->
                <script src="~/js/chart-js/chart.js"></script>

                <!--script for charts-->
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



                <!-- Place this tag in your head or just before your close body tag. -->
                <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>


@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Display error Toastr notification
        toastr.error('@TempData["Error"]');
    </script>
}




@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Success"]');
    </script>

}