@model Tuple<List<Hiraj_Foods.Models.Product>, List<Hiraj_Foods.Models.FeedBack>, List<Hiraj_Foods.Models.Enquiry>>

@{
    var productPricesJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ProductPrices);
    var flavorsJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Flavors);
    var productNamesJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ProductNames);
    var energyJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.EnergyValues);


    var sentimentCountsJson = Newtonsoft.Json.JsonConvert.SerializeObject(new
    {
        positive = ViewBag.PositiveFeedbackCount,
        negative = ViewBag.NegativeFeedbackCount,
        neutral = ViewBag.NeutralFeedbackCount
    });


    var products = Model.Item1;
    var feedback = Model.Item2;
    var enquiry = Model.Item3;

}
@{
    Layout = null;
}



<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
      data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin-DashBoard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" src="~/favicon.ico">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />


    <link href="/css/Admin-Css/materialdesignicons.css" rel="stylesheet" />

    <!-- Menu waves for no-customizer fix -->
    <link href="/css/Admin-Css/node-waves.css" rel="stylesheet" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/Admin-Css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/css/Admin-Css/theme-default.css" class="template-customizer-theme-css" />
    <link href="/css/Admin-Css/demo.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link href="/css/Admin-Css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/css/Admin-Css/apex-charts.css" rel="stylesheet" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="/js/Admin-js/helpers.js"></script>
    <script src="/js/Admin-js/config.js"></script>


    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">


            <!--Side Menu Partial View -->
            <!--Show the partial view of sidemenu-->
            <partial name="_SidePartialView" />


            <div class="layout-page">
                <!-- Navbar Partial View -->
                <!--Show the partial view of navbar partial view-->

                <partial name="_NavbarPartialView" />

                <!-- / Navbar Partial View -->
                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <div class="row gy-4">

                            <!-- Total Product Card card -->
                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Total Products : @Model.Item1.Count()  </h4>

                                        <a asp-controller="Admin" asp-action="ViewProduct" class="btn btn-sm btn-primary">View Products</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Total Product Card card -->
                            <!-- Total Feedback Card card -->
                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Total Feedback : @Model.Item2.Count() </h4>

                                        <a hasp-controller="Admin" asp-action="Feedback" class="btn btn-sm btn-primary">View FeedBack</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Total Feedback Card card -->
                            <!-- Total Enquiry Card-->
                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Total Enquiry : @Model.Item3.Count() </h4>
                                        <a asp-controller="Admin" asp-action="Enquiry" class="btn btn-sm btn-primary">View Enquiries</a>

                                    </div>
                                </div>
                            </div>
                            <!-- Total Enquiry Card-->


                            <div class="col-md-12 col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Product Prices</h4>
                                        <div class="chart-container" style="height:400px;">
                                            <canvas id="productPricesChart"></canvas>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Feedback Sentiment Analysis</h4>
                                        <canvas id="sentimentChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1">Energy Values per Product</h4>
                                        <div class="chart-container" style="height:400px;">
                                            <canvas id="energyChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            

                            <div class="col-md-12 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        @* to show the total count of flavours *@
                                        <h4 class="card-title mb-1" id="flavorsCount"> </h4>
                                        <canvas id="flavorsChart">
                                        </canvas>

                                    </div>
                                </div>
                            </div>

                         



                        </div>
                    </div>













                    <!-- Footer -->
                    <section>

                        <partial name="_Footer" />


                    </section>




                    <!-- / Footer -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/js/Admin-js/jquery.js"></script>
    <script src="/js/Admin-js/popper.js"></script>
    <script src="/js/Admin-js/bootstrap.js"></script>
    <script src="/js/Admin-js/node-waves.js"></script>
    <script src="/js/Admin-js/perfect-scrollbar.js"></script>
    <script src="/js/Admin-js/menu.js"></script>

    <!-- endbuild -->

    <script src="/js/Admin-js/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/js/Admin-js/main.js"></script>

    <!-- Page JS -->
    <script src="/js/Admin-js/dashboards-analytics.js"></script>


    <!--Charts js-->
    <script src="~/js/chart-js/chart.js"></script>

    <!--script for charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        var productPrices = @Html.Raw(productPricesJson);
        var flavors = @Html.Raw(flavorsJson);
        var productNames = @Html.Raw(productNamesJson);
        var energyValues = @Html.Raw(energyJson);
        var sentimentCounts = @Html.Raw(sentimentCountsJson);

    </script>


    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>



<partial name="_toastr" />



