<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Edit Product Details</h5>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Admin" asp-action="EditUser">

                    <input type="hidden" name="Id" value="@Model.Item1.Id" />
                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="basic-default-fullname" placeholder="First Name" name="FirstName" value="@Model.Item1.firstName" />
                        <label for="basic-default-fullname">First Name</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="basic-default-company" placeholder="Last Name" name="LastName" value="@Model.LastName" />
                        <label for="basic-default-company">Last Name</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="basic-default-company" placeholder="Email" name="Email" value="@Model.Email" />
                        <label for="basic-default-company">Email</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="basic-default-company" placeholder="Password" name="Password" value="@Model.Password" />
                        <label for="basic-default-company">Password</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="basic-default-company" placeholder="Phone" name="Phone" value="@Model.Phone" />
                        <label for="basic-default-company">Phone</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4 mt-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div> <!-- Closing tag for card-body -->
        </div> <!-- Closing tag for card mb-4 -->
    </div>
</div>
