@model Tuple<List<Hiraj_Foods.Models.User>, List<Hiraj_Foods.Models.Checkout>, Admin>

@{

    var user = Model.Item1;
    var checkouts = Model.Item2;
    var admin = Model.Item3;

}
@{
    Layout = null;
}



<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
      data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin-DashBoard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" src="~/favicon.ico">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />


    <link href="/css/Admin-Css/materialdesignicons.css" rel="stylesheet" />

    <!-- Menu waves for no-customizer fix -->
    <link href="/css/Admin-Css/node-waves.css" rel="stylesheet" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/Admin-Css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/css/Admin-Css/theme-default.css" class="template-customizer-theme-css" />
    <link href="/css/Admin-Css/demo.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link href="/css/Admin-Css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/css/Admin-Css/apex-charts.css" rel="stylesheet" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="/js/Admin-js/helpers.js"></script>
    <script src="/js/Admin-js/config.js"></script>


    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo me-1">
                            <a asp-action="Logout" asp-controller="Admin" style="color: var(--bs-primary)">
                                <img src="~/img/hiraj food.png" />
                            </a>
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Admin" asp-action="dashboard" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
                            <div data-i18n="Dashboards">Home</div>
                        </a>
                    </li>
                    <!-- Layouts -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-glass-tulip"></i>

                            <div data-i18n="Layouts">Products </div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="AddProduct" class="menu-link">
                                    <div data-i18n="Without menu">Add Products</div>

                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="ViewProduct" class="menu-link">
                                    <div data-i18n="Without navbar">View Products</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-album"></i>


                            <div data-i18n="Layouts">Banner </div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="AddBanner" class="menu-link">
                                    <div data-i18n="Without menu">Add Banner</div>

                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="Banner" class="menu-link">
                                    <div data-i18n="Without navbar">View Banner</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="menu-item">

                        <a asp-action="ViewUser" asp-controller="Admin" class="menu-link ">
                            <i class="menu-icon tf-icons mdi mdi-clipboard-account"></i>
                            <div data-i18n="Dashboards" asp->Users</div>
                        </a>
                    </li>

                    <li class="menu-item">

                        <a asp-action="ViewCheckouts" asp-controller="Admin" class="menu-link ">
                            <i class="menu-icon tf-icons mdi mdi-database"></i>
                            <div data-i18n="Dashboards" asp->Checkouts</div>
                        </a>
                    </li>

                    <li class="menu-item">

                        <a asp-action="ViewContact" asp-controller="Admin" class="menu-link ">
                            <i class="menu-icon tf-icons mdi mdi-phone"></i>
                            <div data-i18n="Dashboards" asp->Contact</div>

                        </a>
                    </li>


                    <li class="menu-item">
                        <a asp-area="" asp-controller="Admin" asp-action="Enquiry" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-format-align-justify"></i>

                            <div data-i18n="Dashboards">Enquiry</div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a asp-area="" asp-controller="Admin" asp-action="Feedback" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-backup-restore"></i>
                            <div data-i18n="Dashboards">Feedback</div>
                        </a>
                    </li>

                    <!--Settings-->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-backup-restore"></i>

                            <div data-i18n="Layouts">Settings </div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="MyProfile" class="menu-link">
                                    <div data-i18n="Without menu">My Profile</div>

                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Admin" asp-action="ChangePassword" class="menu-link">
                                    <div data-i18n="Without navbar">Change Password</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <!-- Pages -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-account-outline"></i>
                            <div data-i18n="Account Settings">Account Settings</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="pages-account-settings-account.html" class="menu-link">
                                    <div data-i18n="Account">Account</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="pages-account-settings-notifications.html" class="menu-link">
                                    <div data-i18n="Notifications">Notifications</div>
                                </a>
                            </li>

                        </ul>
                    </li>



                    <!-- Misc -->
                    <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Support</span></li>
                    <li class="menu-item">
                        <a href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
                           target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-lifebuoy"></i>
                            <div data-i18n="Support">Support</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
                           target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-file-document-multiple-outline"></i>
                            <div data-i18n="Documentation">Documentation</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="mdi mdi-menu mdi-24px"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="mdi mdi-magnify mdi-24px lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <li class="nav-item lh-1 me-3">
                                <a class="github-button"
                                   href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free"
                                   data-icon="octicon-star" data-size="large" data-show-count="true"
                                   aria-label="Star themeselection/materio-bootstrap-html-admin-template-free on GitHub">Star</a>
                            </li>

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="@Model.Item3.ImageUrl" alt class="w-px-40 h-auto rounded-circle" />

                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                                    <li>
                                        <a class="dropdown-item pb-2 mb-1" href="#">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2 pe-1">
                                                    <div class="avatar avatar-online">
                                                        <!--Show the profile picture of current admin-->

                                                        <img src="@Model.Item3.ImageUrl" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-0">@Model.Item3.FirstName @Model.Item3.LastName</h6>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider my-1"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AccountSetting">
                                            <i class="mdi mdi-account-outline me-1 mdi-20px"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-cog-outline me-1 mdi-20px"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="d-flex align-items-center align-middle">
                                                <i class="flex-shrink-0 mdi mdi-credit-card-outline me-1 mdi-20px"></i>
                                                <span class="flex-grow-1 align-middle ms-1">Billing</span>
                                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider my-1"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">
                                            <i class="mdi mdi-power me-1 mdi-20px"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <!-- / Navbar -->

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <h3>Checkouts</h3>
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Address</th>
                                        <th>Payment - Method</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @foreach (var checkout in Model.Item2)
                                    {
                                        var user1 = Model.Item1.FirstOrDefault(u => u.Id == checkout.UserId);
                                        <tr>
                                            <td>@(user != null ? user1.FirstName : "Unknown")</td>
                                            <td>@checkout.Address1 , @checkout.Address2, @checkout.City</td>
                                            <td>@checkout.paymentMethod</td>
                                            <td>@checkout.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="content-backdrop fade"></div>
                        </div>
                    </div>

































                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/js/Admin-js/jquery.js"></script>
    <script src="/js/Admin-js/popper.js"></script>
    <script src="/js/Admin-js/bootstrap.js"></script>
    <script src="/js/Admin-js/node-waves.js"></script>
    <script src="/js/Admin-js/perfect-scrollbar.js"></script>
    <script src="/js/Admin-js/menu.js"></script>

    <!-- endbuild -->

    <script src="/js/Admin-js/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/js/Admin-js/main.js"></script>

    <!-- Page JS -->
    <script src="/js/Admin-js/dashboards-analytics.js"></script>


    <!--Charts js-->
    <script src="~/js/chart-js/chart.js"></script>

    <!--script for charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>



@if (TempData["Message"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Message"]');
    </script>

}

@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Display the Toastr notification
        toastr.error('@TempData["Error"]');
    </script>
}
